@import 'tailwindcss';

@theme {
    --color-vs-ebg: var(--vscode-editor-background);
    --color-vs-efg: var(--vscode-editor-foreground);
    --color-vs-bbg: var(--vscode-button-background);
    --color-vs-bfg: var(--vscode-button-foreground);
    --color-vs-ibg: var(--vscode-input-background);
    --color-vs-ifg: var(--vscode-input-foreground);
    --color-vs-tfg: var(--vscode-text-foreground);
    --color-vs-pbg: var(--vscode-panel-background);
    --color-vs-abg: var(--vscode-activityBar-background);
    --color-vs-sbg: var(--vscode-status-background);
    --color-border: 'var(--vscode-editorGroup-border)';
}

code {
    background-color: transparent;
}

body {
    /* border: 2px solid red; */
    height: 100svh;
    width: 100svw;
    overflow: hidden;
}
